@media (max-width: 840px) {

    .services .tools-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "one two"
                             "three four"
                             "five six";
    }

    .services .tool.-powerbi {
        border-right: 0.1rem solid var(--color-line);
        border-bottom: 0.1rem solid var(--color-line);
    }
      
    .services .tool.-mysql {
        border-bottom: 0.1rem solid var(--color-line);
    }
      
    .services .tool.-analysis {
        border-bottom: 0.1rem solid var(--color-line);
        border-right: 0.1rem solid var(--color-line);
        border-left: 0;
    }
      
    .services .tool.-story {
        border-right: 0.1rem solid var(--color-line);
        border-left: 0;
    }
    
    .services .tool.-excel {
        border-bottom: 0.1rem solid var(--color-line);
    }

    .services img {
        width: 10rem;
    }
}

@media (max-width: 768px) {
    .banner .text {
        width: 70%;
    }

    .banner .text h1 {
        font-size: 2rem;
    }

    .banner .request {
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
    }



      .button {
        padding: 1.3rem 3rem;
        font-size: 1.2rem;
      }

      footer {
          font-size: 1rem;
      }
}

@media (max-width: 700px) {
    .services .tool {
        flex: 1 1 20rem;
    }

    .mvv .proposal {
        width: 15rem;
      }

    .mvv .proposal p {
        font-size: 1.2rem;
      }
      
      .mvv .mission .mvv-img {
        width: 15rem;
      }
}


@media (max-width: 600px) {
    .header {
        padding: 2rem 2rem;
    }

    nav {
        display: none;
    }

    .banner .text {
      width: 70%;
    }

    .one,
    .two,
    .three {
        background-color: #0597F2;
        height: 0.4rem;
        width: 100%;
        margin: 0.3rem auto;
        transition-duration: 0.3s;
    }

    .menu-section {
        display: flex;
        align-items: center;
    }

    .menu-toggle {
        width: 2rem;
        height: 2.5rem;
        border: 0.1rem solid #ababab7c;
        padding: 0.5rem 1.4rem;
        border-radius: 0.5rem;
        box-sizing: content-box;
    }

    .logo {
        z-index: 11;
    }

    .menu-section.on {        
        background-color: #F8F9FA;
        
        z-index: 10;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 2rem;
        top: 2.7rem;
        width: 2.5rem;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 1rem;
        display: block;
        font-weight: normal;
        text-align: start;
        padding-left: 0;
    }

    .banner {
        padding: 7rem 3rem 2rem 3rem;
    }

    .banner .text {
        width: 70%;
    }

    .banner .text h1 {
        font-size: 1.7rem;
    }

    .banner .text h3 {
        font-size: 1.4rem;
    }

    .banner .text p {
        font-size: 1.3rem;
    }

    .banner .request {
        font-size: 1.2rem;
    }

    .button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .portfolio p {
        font-size: 1.3rem;
    }

    .portfolio .dashboard img {
        width: 60%;
      }

      .services img {
        width: 7rem;
    }

    .mvv .proposal {
        width: 13rem;
      }

      .mvv .mission .mvv-img {
        width: 15rem;
      }

      .contact .container {
        width: 80%;
        }

      .contact input {
          height: 3rem;
      }

      footer {
          flex-direction: column;
      }

      footer div {
          margin-bottom: 4rem;
      }
}

@media (max-width: 500px) {

    .banner .request {
        display: none;
    }

    .title {
        font-size: 3rem;
    }

    .mvv .proposal p {
        width: 12rem;
      }

      .mvv .mission .mvv-img {
        width: 10rem;
      }

      .mvv .proposal .mvv-logo {
          width: 3rem;
      }

      .services .tools-wrapper {
        display: flex;
        flex-direction: column;
      }

  .services .tool.-powerbi {
    border-right: 0rem solid var(--color-line);
    border-bottom: 0rem solid var(--color-line);
  }
  
  .services .tool.-mysql {
    border-bottom: 0rem solid var(--color-line);
  }
  
  .services .tool.-analysis {
    border-bottom: 0rem solid var(--color-line);
    border-right: 0rem solid var(--color-line);
    border-left: 0;
  }
  
  .services .tool.-story {
    border-right: 0rem solid var(--color-line);
    border-left: 0;
  }

  .services .tool.-excel {
    border-bottom: 0rem solid var(--color-line);
  }

  .banner .text {
    width: 65%;
  }

  .banner .text h1 {
    font-size: 1.3rem;
    }

    .banner .text h3 {
        font-size: 1.3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .banner .text p {
        font-size: 1.2rem;
    }

    .banner .request {
        font-size: 1rem;
    }

    .portfolio {
        padding: 5rem 2rem 3rem 2rem;
      }

    .portfolio .dashboard img {
        width: 60%;
      }

      .portfolio .more {
        margin-left: 1.5rem;
        padding: 0.7rem 2rem;
    }
    
    .portfolio .dashboard {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 4rem;
        width: 100%;
      }

      .portfolio .dashboard:nth-child(even) {
        flex-direction: column-reverse;
      }

      .portfolio .dashboard:nth-child(even) div {
        text-align: center;
      }
      
      .portfolio .dashboard div {
        text-align: center;
      }

      .portfolio .button {
          margin: 1rem 0 1rem 0;
      }

    .contact .container {
        width: 90%;
        }
}

@media (max-width: 400px) {

    .title {
        font-size: 2.5rem;
    }


      .mvv .proposal p {
        width: 8rem;
      }
  
}

