:root {
    --color-white: #F8F9FA;
    --color-black: #000;
    --color-blue: #EEFFFF;
    --color-line: #DEDEDE;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 2rem;  
}

.button {
  background-color: #2a2a2e;
  color: var(--color-white);
  border: none;
  height: 4rem;
  width: 12rem;
  font-size: 1.4rem;
  border-radius: 10px;
}

html {
    font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Basic', sans-serif;
}

body {
    font-size: 1.5rem;
}

.header {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 40px;
}

.header .logo {
    height: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
  }

header nav ul li a {  
    display: inline-flex;
    align-items: center;
    padding: 2.4rem 0 2.4rem 2.4rem;
    text-decoration: none;
    color: var(--color-black); 
    transition: text-decoration 0.2s, transform 0.2s;
}

header nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.banner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--color-white);
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    padding: 10rem 5rem;
}

.banner .text {
    width: 50%;
}

.banner .text h1 {
    font-size: 2.7rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}

.banner .text h3 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.banner .text p {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 30px;
}

.banner .request {
    padding: 1.5rem 4rem;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Basic', sans-serif;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5rem 0 5rem;
  background-color: var(--color-blue);
}

.portfolio .intro {
  text-align: center;
  margin-bottom: 3rem;
  width: 80%;
}

.portfolio .intro h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.portfolio .dashboard {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
}

.portfolio .dashboard:nth-child(even) {
  flex-direction: row-reverse;
}

.portfolio .dashboard img {
  width: 50%;
}

.portfolio .dashboard:nth-child(even) div {
  text-align: right;
}

.portfolio .dashboard div {
  text-align: left;
}

.portfolio .dashboard .subtitle {
  margin-bottom: 1rem;
}

.portfolio .button {
  margin: 0 2rem;
}
