.main-header {
    background-color: var(--color-black);
    border-bottom: 4px solid rgba(0, 0, 0, 0.849);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.main-header .logo {
    width: 50px;
    height: 50px;
}

.main-header nav {
    display: flex;
    align-items: center;
}

.main-action {  
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    color: var(--color-white); 
    transition: text-decoration 0.2s, transform 0.2s;
}

.main-action:hover {
    text-decoration: underline;
    transform: scale(1.1);
}