html {
    font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Comfortaa', cursive;
}

body {
    font-size: 1.5rem;
}

.header {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 40px;
}

.header .logo {
    height: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style: none;
  }

header nav ul li a {  
    display: inline-flex;
    align-items: center;
    padding: 2.4rem 0 2.4rem 2.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-black); 
    transition: text-decoration 0.2s, transform 0.2s;
}

header nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.banner {
    height: 100%;
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
}